fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
pydantic-settings
bcrypt
azure-identity
azure-keyvault-secrets
python-jose[cryptography]
python-dotenv
sqlglot
numpy 
pandas 
tensorflow 
scikit-learn
python-multipart
python-dateutil>=2.8.0
