# Ignore virtual environment
venv/

# Ignore dotenv environment file
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Log files and folders
logs/
*.log


# VSCode and PyCharm settings
.vscode/
.idea/
